@import "theme/theme.scss";

.container{
    background: $grey;
    width: 70%;
    min-height: 100vh; 
    margin: 60px auto;
    display: flex;
    @include box-shadow;
    .main_wrapper{
        flex-grow: 1;
        .main_content{
            padding: 40px;
        }
    }
}