* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}
body {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh; 
  font-size: 15px;
  background: rgb(4,125,197);
  background: -moz-linear-gradient(180deg, rgba(4,125,197,0.7) 0%, rgba(0,212,255,0.7035189075630253) 100%);
  background: -webkit-linear-gradient(180deg, rgba(4,125,197,0.7) 0%, rgba(0,212,255,0.7035189075630253) 100%);
  background: linear-gradient(180deg, rgba(4,125,197,0.7) 0%, rgba(0,212,255,0.7035189075630253) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#047dc5",endColorstr="#00d4ff",GradientType=1);
}

a {
  text-decoration: none;
  color: #111010;
  font-family: "Source Sans Pro", sans-serif;
} 
 

@mixin box-shadow { 
  -webkit-box-shadow: 0px 1px 10px rgba(67, 57, 76, 0.50);
  box-shadow: 0px 1px 10px rgba(67, 57, 76, 0.50);
}

@mixin profile-thumbnail($width, $height, $border_color) {
  width: $width;
  height: $height;
  margin-right: 7px;
  border-radius: 50%;
  border: 5px solid $border_color;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    object-fit: contain;
  }
}