@import "theme/theme.scss";

.pagination{
    display: flex;
    margin-top: 20px; 
    margin-bottom: 20px; 
    justify-content: center;
    li{
        list-style: none; 
        margin-right: 6px;
        a{ 
            background: #fff;
            padding: 8px 14px;
            cursor: pointer;
            outline: none
        } 
        &.active{ 
            a{
                background: $theme_blue;
                color: #fff;
                font-weight: 600;
            }
        }
    }
}